.main {
  color: white;
  background-color: #111;
  width: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerFormWrapper {
  width: 500px;
  margin: auto;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

label {
  text-align: right;
}